#wrapper {
    background: linear-gradient(#343a40, #28A745) !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px 0 32px 0;
    overflow: hidden;
}

#main {
    max-width: 1396px;
    background-color: #dfdfdf;
    margin: 0 auto;
    height: 100%;
    border-radius: 12px;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 0px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    grid-template-columns: 30% 70%;
    -ms-grid-columns: 3fr 7fr;
    -ms-grid-rows: 1fr;
}

#sideWrapper {
    height: 100%;
    background-color: transparent;
    border: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    grid-row: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#chatWrapper {
    height: 100%;
    background-color: transparent;
    border: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    grid-row: 1;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#chatNav,
#sideNav {
    overflow: hidden;
}

#chatWindow,
#sideContent {
    overflow-x: hidden;
    overflow-y: scroll;
}

#sideNav {
    background-color: #eeeeee;
    border-right: 1px solid #dfdfdf;
    border-top-left-radius: 8px;
    height: 64px;
    padding: 12px 16px 12px 16px;
    display: flex;
}

#profilePic {
    border-radius: 90px;
}

#menuItems {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

#menuItems>button {
    width: 40px;
    border: 0px;
    margin-left: 4px;
    margin-right: 4px;
}

#chatNav {
    background-color: #eeeeee;
    border-top-right-radius: 8px;
    height: 64px;
    display: flex;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-bottom: 1px solid #dfdfdf;
}

#chatContent {
    border-bottom-right-radius: 8px;
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
}

#chatWindow {
    /*background-image: url("../../static/images/3.jpg");*/
    background-size: 100%;
    background-color: #f5f1ee;
    background-attachment: fixed;
    width: 100%;
    height: calc(100% - 64px);
    max-height: calc(100vh - 192px);
    -webkit-overflow-scrolling: touch;
    -khtml-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    padding-bottom: 16px;
}

#chatInput {
    background-color: #eeeeee;
    border-top: 1px solid #dfdfdf;
    border-bottom-right-radius: 8px;
    min-height: 64px;
    padding: 12px 16px 12px 16px;
    display: flex;
    direction: ltr;
}

#textInput {
    display: inline-block;
    border: 1px transparent;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
    outline: none !important;
    animation-duration: 2s;
    animation-delay: 125ms;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 125ms;
    -khtml-animation-duration: 2s;
    -khtml-animation-delay: 125ms;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 125ms;
    -o-animation-duration: 2s;
    -o-animation-delay: 125ms;
    min-height: 39px;
    max-height: 39px;
    resize: none;
    overflow-y: scroll;
}

#textInput:focus {
    border-color: #666666;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: 0px !important;
    appearance: none;
    -webkit-appearance: none;
}

#sendButton:focus,
#chatMenuButton:focus,
#photoButton:focus,
#mainMenuButton:focus,
#logOutButton:focus {
    border-color: #666666 !important;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
}

#sendButtonWrapper:hover,
#chatMenuButton:hover,
#photoButtonWrapper:hover,
#mainMenuButton:hover {
    transform: scale(1.1);
}

#logOutButton:hover {
    transform: scale(-1.1, 1.1);
}

#chatMenuButton,
#mainMenuButton {
    display: none !important;
}

#sendButtonWrapper,
#chatMenuButton,
#photoButtonWrapper,
#mainMenuButton,
#logOutButton {
    transition: transform 0.5s;
}

#logOutButton {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#sendButton,
#chatMenuButton,
#photoButton,
#logOutButton {
    width: 40px;
    border: 0px;
    cursor: pointer;
    animation-duration: 2s;
    animation-delay: 125ms;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 125ms;
    -o-box-animation-duration: 2s;
    -o-animation-delay: 125ms;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 125ms;
    -khtml-animation-duration: 2s;
    -khtml-animation-delay: 125ms;
    vertical-align: middle;
}

#mainMenuDiv {
    border: 0px;
    cursor: pointer;
    animation-duration: 2s;
    animation-delay: 125ms;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 125ms;
    -o-box-animation-duration: 2s;
    -o-animation-delay: 125ms;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 125ms;
    -khtml-animation-duration: 2s;
    -khtml-animation-delay: 125ms;
    margin-left: 12px;
    margin-right: 12px;
    width: 48px;
}

#mainMenuButton {
    border: 0px;
    padding: 0px;
    width: 48px;
    height: 48px;
}

#sideContent {
    background-color: white;
    border-bottom-left-radius: 8px;
    height: calc(100% - 64px);
    width: 100%;
    max-height: calc(100vh - 128px);
    -webkit-overflow-scrolling: touch;
    -khtml-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    border-right: 1px solid #dfdfdf;
}

#userMessageWrapper {
    display: flex;
    position: relative;
    margin-left: 64px;
    margin-right: 64px;
    justify-content: flex-end;
}

#userMessage {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 60%;
    min-width: 128px;
    padding: 8px;
    padding-left: 12px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: #dcf8c6;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#userPicture {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 60%;
    min-width: 128px;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: #dcf8c6;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#userCorner {
    background-image: url("../../static/images/greenCorner.png");
    background-size: 75%;
    background-repeat: no-repeat;
    width: 24px;
    height: 36px;
    z-index: 1;
    margin-right: -24px;
}

#userPictureCorner {
    background-image: url("../../static/images/greenCorner.png");
    background-size: 75%;
    background-repeat: no-repeat;
    width: 24px;
    height: 36px;
    z-index: 1;
    margin-right: -24px;
}

#friendMessageWrapper {
    display: flex;
    margin-left: 64px;
    margin-right: 64px;
    justify-content: flex-start;
}

#friendMessage {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 60%;
    min-width: 128px;
    padding: 8px;
    padding-left: 12px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#friendPicture {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 60%;
    min-width: 128px;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#messagePictureTime {
    color: rgba(0, 0, 0, 0.45);
    font-size: 75%;
    white-space: nowrap;
    float: right;
    line-height: 50%;
    margin: 2px;
    margin-top: 6px;
}

#messagePicture {
    max-width: 100%;
    min-width: 10vw;
}

#pictureWrapper {
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    max-width: 100%;
    align-items: center;
    max-height: 40vh;
    border-radius: 8px;
}

#friendPictureCorner {
    background-image: url("../../static/images/whiteCorner.png");
    background-size: 75%;
    background-repeat: no-repeat;
    width: 24px;
    height: 36px;
    z-index: 1;
    margin-left: -18px;
}

#friendCorner {
    background-image: url("../../static/images/whiteCorner.png");
    background-size: 75%;
    background-repeat: no-repeat;
    width: 24px;
    height: 36px;
    z-index: 1;
    margin-left: -18px;
}

#messageText {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    line-height: 100%;
}

#messageTime {
    color: rgba(0, 0, 0, 0.45);
    font-size: 75%;
    white-space: nowrap;
    float: right;
    line-height: 50%;
    margin: 2px;
    margin-top: 6px;
}

#messageSpace {
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 16px;
    width: 100%;
}

#messageSpace+div#friendMessageWrapper>#friendMessage {
    border-top-left-radius: 0px;
    margin-left: -6px;
}

#messageSpace+div#friendMessageWrapper>#friendPicture {
    border-top-left-radius: 0px;
    margin-left: -6px;
}

#messageSpace+div#userMessageWrapper>#userMessage {
    border-top-right-radius: 0px;
}

#messageSpace+div#userMessageWrapper>#userPicture {
    border-top-right-radius: 0px;
}

#userTab {
    padding: 8px;
    display: flex;
    position: relative;
    box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.06);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    transition: all 2s;
}

#userTab:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#userPic {
    border-radius: 90px;
    margin-right: 16px;
}

#userInfo {
    width: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topUserInfo {
    display: flex;
}

#userName {
    font-size: 1.2rem;
    font-weight: 500;
    flex-grow: 1;
}

#userLastDate {
    display: flex;
    justify-content: flex-end;
}

#userLastText {
    color: rgba(0, 0, 0, 0.45);
    font-size: 1rem;
    margin-right: 16px;
}

#uLastDate {
    color: rgba(0, 0, 0, 0.45);
    font-size: 1rem;
    white-space: nowrap;
    line-height: 0.5rem;
    margin-top: 0.5rem;
}

#usersSearch {
    margin-bottom: 0px !important;
}

#addUserPic {
    border-radius: 90px;
    margin-right: 16px;
    margin-top: 3.5px;
    cursor: pointer;
}

#addUserTab {
    padding: 8px;
    display: flex;
    box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.06);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#searchText {
    outline: none !important;
}

#searchText:focus {
    border-color: #666666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -khtml-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#currentFriendPic {
    border-radius: 90px;
    margin-right: 16px;
    margin-left: 12px;
}

#currentFriendInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

#currentFriendName {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0px;
}

#currentFriendStatus {
    color: rgba(0, 0, 0, 0.45);
    font-size: 1rem;
    white-space: nowrap;
}

#chatMenuButton {
    display: flex;
    align-content: flex-end;
}

* {
    box-sizing: border-box;
}

#sideContent::-webkit-scrollbar-track {
    background-color: transparent;
}

#sideContent::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#sideContent::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 90px;
}

#chatWindow::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.08);
}

#chatWindow::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, 0.08);
}

#chatWindow::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 90px;
}

@media screen and (max-width: 1919px) {
    #friendMessageWrapper {
        margin-left: 48px;
        margin-right: 48px;
    }
    #userMessageWrapper {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1439px) {
    #main {
        max-width: 1200px !important;
    }
    _:-moz-tree-row(hover),
    #userLastText {
        margin-right: 8px;
    }
}

@media screen and (max-width: 1240px) {
    #main {
        max-width: 1024px !important;
    }
    #addUserPic {
        width: 44px;
        height: 44px;
    }
    #userName {
        font-size: 100%;
    }
    #userInfo {
        width: 100%;
    }
    #searchText {
        font-size: 90%;
        line-height: 1;
        padding: 3px 12px 3px 12px;
        height: 24px;
    }
    #addFriendButton {
        font-size: 90%;
        height: 24px;
        padding: 3px 12px 3px 12px;
        line-height: 1;
    }
    #userPic {
        width: 44px;
        height: 44px;
        margin-top: 3.5px;
    }
    #userLastText {
        font-size: 90%;
    }
    #uLastDate {
        font-size: 90%;
    }
}

@media screen and (max-width: 1023px) {
    #main {
        border-radius: 0px;
    }
    #sideNav {
        border-radius: 0px;
    }
    #chatNav {
        border-radius: 0px;
    }
    #sideContent {
        border-radius: 0px;
    }
    #chatContent {
        border-radius: 0px;
    }
    #friendMessageWrapper {
        margin-left: 32px;
        margin-right: 32px;
    }
    #userMessageWrapper {
        margin-left: 32px;
        margin-right: 32px;
    }
    .rightMenu#main {
        grid-template-columns: 0% 100%;
        -ms-grid-columns: 0% 100%;
    }
    .leftMenu#main {
        grid-template-columns: 100% 0%;
        -ms-grid-columns: 100% 0%;
    }
    #chatMenuButton,
    #mainMenuButton {
        display: flex !important;
    }
    #addUserPic {
        width: 64px;
        height: 64px;
    }
    #userName {
        font-size: 120%;
    }
    #userInfo {
        width: 100%;
    }
    #searchText {
        font-size: 100%;
        line-height: 1.5;
        padding: 6px 12px 6px 12px;
        height: 32px;
    }
    #addFriendButton {
        line-height: 1;
        font-size: 100%;
        height: 32px;
        padding: 6px 12px 6px 12px;
    }
    #userPic {
        width: 64px;
        height: 64px;
        margin-top: 3.5px;
    }
    #userLastText {
        font-size: 100%;
    }
    #uLastDate {
        font-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    #friendMessageWrapper {
        margin-left: 24px;
        margin-right: 24px;
    }
    #userMessageWrapper {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 499px) {
    #friendMessageWrapper {
        margin-left: 16px;
        margin-right: 16px;
    }
    #userMessageWrapper {
        margin-left: 16px;
        margin-right: 16px;
    }
    #wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0px;
    }
    #main {
        border-radius: 0px;
    }
    .rightMenu#main {
        grid-template-columns: 0% 100%;
        -ms-grid-columns: 0% 100%;
    }
    .leftMenu#main {
        grid-template-columns: 100% 0%;
        -ms-grid-columns: 100% 0%;
    }
    #sideNav {
        border-radius: 0px;
    }
    #chatNav {
        border-radius: 0px;
    }
    #sideContent {
        border-radius: 0px;
        max-height: calc(100vh - 64px);
    }
    #chatContent {
        height: calc(100% - 64px);
        border-radius: 0px;
    }
    #chatWindow {
        max-height: calc(100vh - 128px);
    }
}

@media screen and (max-width: 360px) {
    #addUserPic {
        width: 44px;
        height: 44px;
    }
    #userName {
        font-size: 100%;
    }
    #userInfo {
        width: 100%;
    }
    #searchText {
        font-size: 90%;
        line-height: 1;
        padding: 3px 12px 3px 12px;
        height: 24px;
    }
    #addFriendButton {
        font-size: 90%;
        height: 24px;
        padding: 3px 12px 3px 12px;
        line-height: 1;
    }
    #userPic {
        width: 44px;
        height: 44px;
        margin-top: 3.5px;
    }
    #userLastText {
        font-size: 90%;
    }
    #uLastDate {
        font-size: 90%;
    }
}