[alt="Scan me!"] {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-primary {
    background-color: #0068E6 !important;
    border-color: #0068E6 !important;
}

.btn-success {
    background-color: #208836 !important;
    border-color: #208836 !important;
}

.cardHr {
    margin: 0px;
}

.navigation-item {
    margin-left: 4px;
    margin-right: 4px;
}

#containerFull {
    height: calc(100vh - 60px) !important;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media screen and (max-width: 767px) {
    #footer {
        display: none;
    }
}