 .form-signin {
     max-width: 330px;
     padding: 15px;
     padding-bottom: 20px;
     padding-top: 20px;
     margin: 0 auto;
     border: 1px solid #d8dee2;
     border-radius: 5px;
     background: #fff;
 }
 
 .input-group-text {
     padding-top: 10px;
     padding-bottom: 10px;
 }
 
 .form-signin .form-signin-heading,
 .form-signin {
     margin-bottom: 10px;
 }
 
 .btn {
     margin-top: 8px;
 }
 
 .form-signin .form-control {
     position: relative;
     display: inline-block;
     box-sizing: border-box;
     height: auto;
     padding: 10px;
     font-size: 16px;
 }
 
 #signupForm {
     margin-top: 1rem;
 }
 
 .form-signin .form-control:focus {
     z-index: 2;
 }
 
 #containerFull {
     min-height: calc(100vh - 60px) !important;
 }
 
 @media screen and (max-width: 767px) {
     .h2 {
         font-size: 1.5rem;
     }
     .text-muted {
         display: none;
     }
     .input-group-prepend {
         display: none;
     }
     #passwordHelp{
         display: block;
     }
 }