<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>404</title>
    <link rel="icon" href="../static/images/logo/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link href="../static/css/status.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="display-1 text-center">404</h1>
        <h1 class="display-3 text-center">Page not found</h1>
        <p class="h5 text-center"><a href="javascript:history.back()">Go Back</a></p>
    </div>
</body>

</html>