<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zephyr</title>
    <link rel="icon" href="static/images/logo/icon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1,  minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
    <div id="wrapper">
        <div class="leftMenu" id="main">
            <div id="sideWrapper">
                <div id="sideNav">
                    <img id="profilePic" src="../static/images/logo/darklogo.png" alt="<%- myUsername %>" width="40px" height="40px">                  
                    <div id="menuItems">
                        <button onclick="logOut()" id="logOutButton" style="background: url(../static/images/ic_logout_green_48px.svg);background-size: 40px 40px"/>
                        <button id="chatMenuButton" style="background: url(../static/images/ic_message_green_48px.svg);background-size: 40px 40px"/>
                    </div>
                </div>
                <div id="sideContent">
                    <div class="animated fadeInDown" id="addUserTab">
                        <img id="addUserPic" src="../static/images/ic_add_circle_outline_black_48px.svg" width="64px" height="64px">
                        <div id="userInfo">
                            <div id="topUserInfo">
                                <h1 id="userName" class="display-5">New Conversation</h1>
                                <div id="userLastDate">
                                    <div id="uLastDate"></div>
                                </div>
                            </div>
                            <div id="userLastText">
                                <div class="input-group mb-3" id="usersSearch">
                                    <input type="text" class="form-control" id="searchText" placeholder="username or email" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button onclick="add_friendUser()" class="btn btn-success" id="addFriendButton" type="button">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chatWrapper">
                <div id="chatNav">
                    <div id="currentFriendInfoWrapper" style="display: flex;flex-grow:1">
                        <img id="currentFriendPic" src="../static/images/logo/logo.svg" width="48px" height="48px">
                        <div id="currentFriendInfo">
                            <div id="currentFriendName">
                                <h1 id="currentFriendName" class="display-5">Zephyr</h1>
                            </div>
                            <div id="currentFriendStatus">
                                Active
                            </div>
                        </div>
                    </div>
                    <div id="mainMenuDiv">
                        <button id="mainMenuButton" style="background: url(../static/images/ic_menu_green_48px.svg);background-size: 48px 48px" />
                    </div>
                </div>
                <div id="chatContent">
                    <div id="chatWindow">
                    </div>
                    <footer id="chatInput">
                        <div class="input-group">
                            <div id="photoButtonWrapper" class="input-group-prepend">
                                <button id="photoButton" class="animated fadeInLeft" type="button" style="background: url(../static/images/ic_insert_photo_white_48px.svg);background-size: 40px 40px"></button>
                                <div class="photoWrapper" style="display:none">
                                    <input accept="image/*" class="animated fadeInLeft" value="none" type="file" id="uploadPhoto" style="display:none" style="background: url(../static/images/ic_insert_photo_white_48px.svg);background-size: 40px 40px"
                                    />
                                </div>
                            </div>
                            <textarea rows="1" class="form-control animated fadeInUp" id="textInput" placeholder="Type a message"></textarea>
                            <div id="sendButtonWrapper" class="input-group-append">
                                <button onclick="sendMessage()" id="sendButton" class="animated fadeInRight" type="button" style="background: url(../static/images/ic_send_white_48px.svg);background-size:
                                    40px 40px "></button>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="../static/css/chat.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
        crossorigin="anonymous" defer/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" integrity="sha256-9vPVPdIkAmHxV2la3zhqXAgBQpjBn2LM9jzRYploktA=" crossorigin="anonymous" defer/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js" integrity="sha256-Tb4gdeCN/ACKmhKQ3BSfbuNgIVYQzBlEvbYlwK7juDw=" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous" defer></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/chat.js "></script>
</body>

</html>