<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zephyr</title>
    <meta name="Description" content="Simple and fun. Not too much of your pesonal information needed">
    <link rel="icon" href="../static/images/logo/icon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#28A745" />
    <link rel="manifest" href="../static/manifest.json">
    <link rel="icon" href="../static/images/logo/logo640x640.png" sizes="320x320 640x640">
    <link rel="apple-touch-icon" href="../static/images/logo/logodark320x320.png" sizes="320x320">
    <link rel="apple-touch-startup-image"  href="../static/images/logo/logodark320x320.png" sizes="320x320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style>
        .btn-primary {
            background-color: #0068E6 !important;
            border-color: #0068E6 !important;
        }

        .btn-success {
            background-color: #208836 !important;
            border-color: #208836 !important;
        }

        [alt="Scan me!"] {
            padding-top: 8px;
            padding-bottom: 8px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .cardHr {
            margin: 0px;
        }

        .navigation-item {
            margin-left: 4px;
            margin-right: 4px;
        }

        .containerFull {
            height: calc(100vh - 60px) !important;
        }

        #containerFull1 {
            height: calc(100vh - 60px) !important;
        }

        .particles-js-canvas-el{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: -1;
            background-color: #28A745;
        }

        #footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
        }
        
        .text-white{
            margin-bottom: 0px !important;
        }

        @media screen and (max-width: 767px) {
            #footer {
                display: none;
            }
        }
    </style>
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="../static/images/logo/logo.svg" width="32" height="32" class="d-inline-block align-top" alt="">Zephyr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item navigation-item active">
                        <a class="nav-link" href="">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item navigation-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto" style="display: flex !important;flex-direction:row!important">
                        <li class="nav-item" style="margin-left:4px;margin-right:4px">
                            <a class="nav-link text-white" href="signin">Sign In</a>
                        </li>
                        <li class="nav-item" style="margin-left:4px;margin-right:4px">
                            <span class="navbar-text" >
                                or
                            </span>
                        </li>
                        <li class="nav-item" style="margin-left:4px">
                            <a class="nav-link text-white" href="signup">Sign Up</a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <div class="container containerFull" id="particles-js">
        <div class="row" id="containerFull1">
            <div class="col align-self-center">
                <div class="jumbotron">
                    <h1 class="display-3">Zephyr</h1>
                    <p class="lead">A new way of communicating with your friends and talking to strangers</p>
                    <hr class="my-4">
                    <p>You can start a conversation right away by logging in anonymously or you can sign up for more !</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="guestlog" role="button">Log in as Guest</a>
                    </p>
                </div>
            </div>
            <div class="col align-self-center">
                <div class="card" style="width: 18rem;">
                    <div class="container" id="qrcode">
                        <h1 style="display:none" id="tunnelUrl">
                        </h1>
                    </div>
                    <hr class="cardHr">
                    <div class="card-body">
                        <h5 class="card-title">Qr Code</h5>
                        <p class="card-text">This is a qr code that make the mobile testing faster.</p>
                        <a href="<%= url %>" id="qrButton" class="btn btn-success">Open Tunneled Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom navbar navbar-dark bg-dark" id="footer">
        <a href="https://github.com/gramanicu/Zephyr">
            <div class="container justify-content-md-center">
                <p class="text-white">Designed & Programmed by Grama Nicolae</p>
        </a>
        </div>
    </footer>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css" media="none" onload="if(media!='all')media='all'">
    <script type="text/javascript" src="static/js/qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous" defer></script>
    <script src="static/js/index.min.js" defer></script>
    <script src="static/js/particles.min.js"></script>
    <script>
        if(screen.width>600)
        {
particlesJS.load('particles-js', 'static/particlesjs-config.json', function() {
    console.log('callback - particles.js config loaded');
  });
}
    </script>
</body>

</html>