<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Log in to Zephyr</title>
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <link href="../static/css/signin.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container" id="containerFull">
        <div class="row" id="containerFull">
            <div class="col align-self-center" id="signinForm">
                <img src="../static/images/darklogo.png" width="60px" height="60px" class="mx-auto d-block" style="margin-bottom: 16px; border-radius: 50%">
                <p class="h3 text-center" style="margin-bottom: 16px">Sign in to Zephyr</p>
                <form class="form-signin" method="POST" action="/signin">
                    <div class="form-group">
                        <label for="usernameInput">Username or email adress</label>
                        <% if (errors == "general") { %>
                            <input type="text" class="form-control is-invalid" name="username" id="usernameInput" required>
                            <% }else{ %>
                                <input type="text" class="form-control" name="username" id="usernameInput" required>
                                <% } %>
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <label for="passwordInput" class="font-weight-light" style="float:right; font-size: 0.9rem">
                            <a href="#">Forgot password?</a>
                        </label>
                        <% if (errors == "general") { %>
                        <input type="password" class="form-control is-invalid" name="password" id="passwordInput" required>
                        <% }else{ %>
                        <input type="password" class="form-control" name="password" id="passwordInput" required>
                        <% } %>
                        <div class="invalid-feedback">
                            Wrong username or password
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>